/* NAVBAR STYLES */
.Logo {
    height:120px;
    width:120px;
}
#LogNav {
    margin-top:8em;
    border: 1px black solid;
    border-radius: 5%;
}
.LogOutNav {
    border-radius: 5%;
    height: 25px;
    margin-top:9em;
    border: 1px black solid;
    background: none;
    width: 65px;
    text-decoration: none;
    color: rgb(73, 70, 70);
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.navbar a {
    text-decoration: none;
    color: rgb(73, 70, 70);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0.5em 0.5em 0;
    padding: 2px;
    border-radius: 5%;
}

/* ZALOGUJ STYLES */

.loginForm{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginForm input{
    margin-bottom: 0.5em;
}

