@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

body {
    margin:0;
}
h1 {
    text-align: center;
}

/* NAVBAR STYLES */
.Logo {
    height:120px;
    width:120px;
    align-items: center;
    margin-left:1em;
}
#LogNav {
    color:white;
}
#AdminNav {
    color:white;
}
.LogOutNav {
    background: none;
    width: 7em;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    border:none;
    font-size:17px;
    font-family: "Quicksand";
}
.navTxt {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items:baseline;
}
.navbar{
    background-color:rgb(21, 20, 20);
}

.navbar a {
    text-decoration: none;
    color: rgb(73, 70, 70);
    font-family: "Quicksand";
    margin: 0 0.5em 0.5em 0;
    padding: 2px;
    font-size:17px;
    text-decoration: solid;
}

/* ADMIN PANEL, NAVBAR AND LOGIN */

.AdminNavbar {
    color:black;

}
.AdminNavbar a {
    color:black;
    display:flex;
    justify-content:center;
    align-items:baseline;
    font-size: 2em;
    text-decoration: none;
    font-family: "Quicksand";
}
.adminLogin {
    margin-top:2em;
    font-family: "Quicksand";
}

/* ZALOGUJ STYLES */
.zaloguj {
    margin-top:2em;
    font-family: "Quicksand";
}
.loginForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
}
.loginForm input{
    margin-bottom: 0.5em;
    padding:0.5em;
    width: 20em;
    font-family: Arial,Helvetica,sans-serif;
}
#LogBut {
    background:rgb(57, 151, 57);
    color:white;
    font-family: "Quicksand";
    border-bottom: 2px black solid;
    border-top:none;
    border-left:none;
    border-right:none;
    border-radius: 2%;
    width:19em;
    height:3em;
    font-size:15px;
    font-weight:700;
    margin-top:1em;
}
#LogBut:hover {
    background:rgb(35, 94, 35);
}
.LogComm {
    padding:0.5em;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size:15px;
    color:black;
}
#ForgotPassword {
    font-weight: 500;
}
#RejLink {
    background:rgb(88, 93, 88);
    color:white;
    font-family: "Quicksand";
    border-bottom: 2px black solid;
    border-top:none;
    border-left:none;
    border-right:none;
    border-radius: 2%;
    width:19em;
    height:3em;
    font-size:15px;
    font-weight:700;
    margin-top:0.5em;
    text-decoration: none;
    text-align: center;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
}
#RejLink:hover {
    background:rgb(31, 32, 31);
}
/* RESET STYLES */
.ResetP {
    margin-top:2em;
    font-family: "Quicksand";
}
.ResForm {
    font-family: "Quicksand";
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
}
#ResBut {
    background:rgb(57, 151, 57);
    color:white;
    font-family: "Quicksand";
    border-bottom: 2px black solid;
    border-top:none;
    border-left:none;
    border-right:none;
    border-radius: 2%;
    width:19em;
    height:3em;
    font-size:15px;
    font-weight:700;
    margin-top:1em;
}
#ResBut:hover {
    background:rgb(35, 94, 35);
}
.ResForm input{
    margin-bottom: 0.5em;
    padding:0.5em;
    width: 20em;
    font-family: Arial,Helvetica,sans-serif;
}

/* REJESTRACJA STYLES */
.rejestracja {
    margin-top:2em;
    font-family: "Quicksand";
}
.signForm {
    font-family: "Quicksand";
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    text-align: center;
}
.Sbmt {
    background:rgb(57, 151, 57);
    color:white;
    font-family: "Quicksand";
    border-bottom: 2px black solid;
    border-top:none;
    border-left:none;
    border-right:none;
    border-radius: 2%;
    width:19em;
    height:3em;
    font-size:15px;
    font-weight:700;
    margin-top:1em;
}
.Sbmt:hover {
    background:rgb(35, 94, 35);
}
.signForm input {
    margin-bottom: 0.5em;
    padding:0.5em;
    width: 20em;
    font-family: Arial,Helvetica,sans-serif;
}
.signComm {
    padding:0.5em;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size:15px;
    color:black;
}
#LogLink {
    background:rgb(88, 93, 88);
    color:white;
    font-family: "Quicksand";
    border-bottom: 2px black solid;
    border-top:none;
    border-left:none;
    border-right:none;
    border-radius: 2%;
    width:19em;
    height:3em;
    font-size:15px;
    font-weight:700;
    margin-top:0.5em;
    text-decoration: none;
    text-align: center;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
}
#LogLink:hover {
    background:rgb(31, 32, 31);
}

.tabelka td, tr, th, table{
    border: 1px solid black;
    border-collapse: collapse;
}


/* FOOTER STYLES */
.footer {
    background-color:rgb(21, 20, 20);
    display: flex;
    margin-top: 25em;
}
